<div class="bg">
    <div class="container mt-5">
        <div class="list-group">
            <div *ngFor="let book of books" href="#" class="list-group-item active mt-1 pb-2">
                <h4 class="list-group-item-heading d-flex justify-content-center">{{book.title}}</h4>
                <div class=" d-flex justify-content-center">
                    <button class="btn btn-dark" (click)="takeBookBack(book)"> Take it back</button>
                </div>
            </div>
            <div class="mb-5"></div>
        </div>
    </div>
</div>