.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: powderblue;
}
.wrapper{
    margin-top: 4rem;
    margin-left: 1rem;
    display: inline-block;
}
.card{
    width: 18rem;
    height: 25rem;


}

.myHeight{
    height: 13rem;
}
.card-body{
    overflow: hidden; /* make sure it hides the content that overflows */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}