<div class="myWrapper">
<div class="container mt-5">
    <h1 class="row justify-content-center text-success">Registration form</h1>
    <div class="row justify-content-center align-items-center">
    <form class="">
            <div class="form-group">
                <label for="emailAdress" class="text-light bg-dark">Email address:</label>
                <input type="email" class="form-control " id="emailAdress" placeholder="name@example.com">
                <label for="password" class="text-light bg-dark">Password:</label>
                <input type="password" class="form-control" id="password">
                <label for="city" class="text-light bg-dark">City:</label>
                <input type="text" name="City" id="city" class="form-control">
                <label for="flatNumber" class="text-light bg-dark">Flat number:</label>
                <input type="text" name="flatNumber" id="flatNumber" class="form-control">
                <label for="houseNumber" class="text-light bg-dark">House number:</label>
                <input type="text" name="houseNumber" id="houseNumber" class="form-control">
                <label for="street"class="text-light bg-dark">Street:</label>
                <input type="text" name="street" id="street" class="form-control">
                <button class="btn btn-success mt-2 form-control ">Send </button>
            </div>
        
    </form>
</div>
</div>
</div>